[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.VSTHRD110.severity=silent

# RCS1211: Remove unnecessary 'else'.
dotnet_diagnostic.RCS1211.severity = none

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = silent

# S1121: Assignments should not be made from within sub-expressions
dotnet_diagnostic.S1121.severity = silent

# S4487: Unread "private" fields should be removed
dotnet_diagnostic.S4487.severity = none
